
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar {
  width: 100%; 
  display: flex; 
  align-items: center;
  justify-content: right;
}
.navbar a {
  padding: 20px;
  text-decoration: none;
  color: black;  
}
.navbar a:hover {
  color: brown; 
}
.about {
  text-align: center;
  height: 1400px;  
}
.home {
  text-align: center;
}
.furniture:hover {
  box-shadow: 1px 3px 5px black;
}
.furniture img {
  width: 150px; 
  height: 150px; 
  margin: 10px; 
  border-radius: 50%;
}
.furniture-list {
 display: grid; 
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}
.furniture-display img {
  width: 300px; 
  height: 300px; 
  padding: 10px; 
}
.furniture-data {
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.furniture-data {
  text-align: center;
  border-radius: 5px; 
  
}
.furniture-display {
  box-shadow: 1px 3px 5px black;
  display: flex; 
  flex-direction: row;
}
.right {
  padding: 10px; 
}
.footer {
  /* position: fixed;  */
  display: flex; 
  align-items: center;
  justify-content: space-evenly;  
  bottom: 0; 
  margin-top: 20px; 
}
.contact {
  text-align: center;
  height: 1000px; 
}
.footer p {
  color: brown; 
}
h6{
  text-align: center; 
  color: brown; 
  margin-bottom: 0; 
}
.furniture a {
  text-decoration: none;
  color: brown; 
}