
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,200;1,400&family=Moon+Dance&family=Raleway:wght@100&family=Roboto+Mono&family=Roboto:ital,wght@0,100;1,300&family=Shadows+Into+Light&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=MonteCarlo&family=Montserrat:ital,wght@0,300;0,700;1,200;1,400&family=Moon+Dance&family=Raleway:wght@100&family=Roboto+Mono&family=Roboto:ital,wght@0,100;1,300&family=Sassy+Frass&family=Shadows+Into+Light&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=MonteCarlo&family=Montserrat:ital,wght@0,300;0,700;1,200;1,400&family=Moon+Dance&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono&family=Roboto:ital,wght@0,100;1,300&family=Sassy+Frass&family=Shadows+Into+Light&display=swap');

  
  * {
  font-family: Quicksand;
}
.navbar {
  width: 100%; 
  display: flex; 
  align-items: center;
  justify-content: right;
}
.navbar a {
  padding: 20px;
  text-decoration: none;
  color: black;  
}
.navbar a:hover {
  color: brown; 
}
.about {
  text-align: center;
  height: 100vh;  
}
.home {
  text-align: center;
}
.furniture {
  width: 70%; 
}
.furniture p {
  font-size: 12px; 
}
.furniture:hover {
  box-shadow: 1px 3px 5px black;
}
.furniture img {
  width: 165px; 
  height: 160px; 
  margin: 5px; 
  border-radius: 5%;
  box-shadow: 1px 2px 4px black;
}
.furniture-list {
 display: grid; 
 grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); 
}
.furniture-display img {
  width: 200px; 
  height: 200px; 
  padding: 5px; 
}
.furniture-data {
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.furniture-data {
  text-align: center;
  border-radius: 5px; 
  
}
.furniture-display {
  box-shadow: 1px 3px 5px black;
  display: flex; 
  flex-direction: row;
}
.right {
  padding: 10px; 
}
.right p {
  font-size: 12px; 
}
.footer {
  /* position: fixed;  */
  display: flex; 
  align-items: center;
  justify-content: space-evenly;  
  bottom: 0; 
  margin-top: 20px; 
}
.contact {
  text-align: center;
  height: 100vh; 
}
.footer p {
  color: black; 
}
h6{
  text-align: center; 
  color: black; 
  margin-bottom: 0; 
}
.furniture a {
  text-decoration: none;
  color: black; 
}
.footer p {
  font-size: 12px; 
}

p a {
  text-decoration: none;
  color: black; 
}